.block {
  width: 1280px;
  height: 72vh;
  background-color: white;
}

.block_card {
  width: 1170px;
  height: 412px;
  margin: auto;
}

.container_dishMenu {
  padding-top: 25px;
  align-items: center;
  text-align: center;

  display: flex;
  justify-content: space-between;
}

.title {
  padding-top: 65px;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif 400;
}

.title_color {
  color: orange;
  margin-left: 10px;
}

.list_block {
  width: 270px;
  height: 332px;
  text-align: center;
  background-color: #f7f5f0;
  border-radius: 20px;
}

.list_quantity > p {
  padding-top: 18px;
}

.button {
  width: 230px;
  height: 40px;
  margin-top: 18px;
  background-color: orange;
  color: white;
  border-radius: 5px;
}

.promotion {
  font-size: 20px;
  color: orange;
  margin-right: 10px;
}

.price {
  text-decoration: line-through;
}
