.container_title {
  display: flex;
  width: 1280px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 209, 157);
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 12px;
}

.container_span {
  position: absolute;
  top: 0;
  right: 60px;
  font-size: 30px;
  /* margin-left: auto; */
}
