.block {
  width: 1280px;
  background-color: white;
  display: flex;
}

.block_sections {
  width: 1170px;
  height: 487px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}

.title {
  font-size: 24px;
}

.title_span {
  color: orange;
}

.title_p {
  font-size: 18px;
  margin: 0.4em;
}

.images {
  position: absolute;
  top: 0;
  left: 51.5%;
}

/* .item_pages {
  list-style-type: none;
} */

/* .item_pages img {
  background-color: orange;
  color: white;

  border-radius: 50%;
   */

/* } */

/* .item_list img {
  border-radius: 50%;
  position: relative;
  text-align: center;
} */

.item_pages {
  margin-left: 20px;
  margin-bottom: 20px;
}

.item_list {
  margin-top: 30px;
  list-style-type: none;
  position: relative;
}

.item_img {
  list-style-type: none;
  position: absolute;
  top: 120px;
  left: 0;
}

.item_img img {
  background-color: orange;
  color: white;

  border-radius: 50%;
  margin-bottom: 40px;
}

.image_vector {
  width: 10px;
  height: 10px;
  /* top: 0px;
  left: 0px; */
  padding: 3px;
  margin-right: 15px;

  /* margin-left: auto;
  margin-right: auto; */
  /* position: absolute; */
}
