.block {
  width: 1280px;
  background-color: white;
  display: flex;
}

.block_sections {
  width: 1170px;
  height: 487px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}

.title {
  font-size: 36px;
  margin-left: 10px;
  /* padding: 15px; */
}

.title_span {
  color: orange;
}

.title_p {
  font-size: 18px;
  margin: 0.4em;
}

.images {
  position: absolute;
  top: 0;
  left: 51.5%;
}

.item_pages {
  margin-left: 20px;
  margin-bottom: 20px;
}

.item_list {
  margin-top: 40px;
  list-style-type: none;
  position: relative;
  margin-left: 25px;
}

.item_img {
  list-style-type: none;
  position: absolute;
  top: 144px;
  left: 10px;
}

.item_img img {
  background-color: orange;
  color: white;

  border-radius: 50%;
  margin-bottom: 40px;
}

.end {
  position: absolute;
  top: 227px;
}

.image_vector {
  width: 12px;
  height: 12px;
  padding: 3px;
}

.btn_line {
  position: relative;
}

.btn {
  width: 270px;
  height: 45px;
  background-color: orange;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 31px;
  left: 10px;
  border-radius: 4px;
}
