.block {
  padding: 0;
  width: 1280px;
  background-color: white;
  padding-top: 50px;
}

.container {
  width: 1171px;
  height: 457px;
  display: flex;
  margin: 0 auto;
}

.list {
  display: flex;
  margin-left: 50px;
}

.list_item:nth-child(n + 2) {
  margin-left: 97px;
}

.list_item {
  list-style: none;
  line-height: 1.9;
}

.list_b {
  margin-bottom: 8px;
}
