.block {
  width: 1280px;

  /* height: 40vh; */
  background-color: white;
}

.sections {
  width: 1280px;
  height: 260px;
  padding: 0;
  position: relative;
}

.title {
  font-size: 50px;

  position: absolute;
  top: 14%;
  left: 42.5%;
}

.list {
  list-style-type: none;
}

.list_item {
  border-radius: 50%;
  background-color: orange;
  color: white;
  text-decoration: none;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.block_list {
  position: absolute;
  top: 52%;
  left: 29%;
}

.list {
  display: flex;
}

.list_item:nth-child(-n + 5) {
  margin-left: 25px;
}
